/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/raleway-v14-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
    url('./fonts/raleway-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/raleway-v14-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./fonts/raleway-v14-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('./fonts/raleway-v14-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/raleway-v14-latin-regular.svg#Raleway') format('svg');
  /* Legacy iOS */
}

/* raleway-900 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/raleway-v14-latin-900.eot');
  /* IE9 Compat Modes */
  src: local('Raleway Black'), local('Raleway-Black'),
    url('./fonts/raleway-v14-latin-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/raleway-v14-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('./fonts/raleway-v14-latin-900.woff') format('woff'),
    /* Modern Browsers */
    url('./fonts/raleway-v14-latin-900.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('./fonts/raleway-v14-latin-900.svg#Raleway') format('svg');
  /* Legacy iOS */
}

body {
  font-family: Raleway !important;

}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
}

.container {
  max-width: 50em;
  margin: 0 auto;

}

button {
  display: none
}

.header {
  display: flex;
  flex-direction: row;
}

.header img {
  width: 60px;
}

.header img:hover {
  border: 0px red solid;
}

img {
  width: 100px;
  height: auto;
  border-radius: 100%;
  box-shadow: 0px 0px 5px #cacaca
}

img:hover,
img.selected {
  transition-duration: 0.1s;
  border: 4px rgb(0, 102, 255) solid;
}

img.right {
  transition-duration: 0.1s;
  border: 4px rgb(0, 255, 0) solid;
}

#optionen {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header {
  width: 100%;
  padding-top: 10px;
  margin-top: 0;
  padding-bottom: 1px;
  margin-bottom: 2em;
  box-shadow: 0px 0px 10px #cacaca;
}

.title {
  margin-bottom: 3px;
}

.source {
  text-align: right;
  margin-bottom: 3em;
  color: grey;
}

.these:before {
  margin-left: -20px;
  font-size: 60px;
}

.statement:after {
  margin-left: -10px;
}

#antwort {
  font-size: 40px;
  font-weight: 400;
  color: #00FF00;
  text-align: center;

}

.error {
  color: red;
}

.weiter {
  border: 2px rgb(202, 202, 202) solid;
  padding: 0.5em;
  border-radius: 0.5em;
  margin: 3em;
  width: calc(100% - 6em);
  position: relative;
  display: block;
  text-align: center;
  box-sizing: border-box;
}

.weiter:hover {
  border: 2px rgb(0, 102, 255) solid;
}

.quote::before{
  content: '”';
}
.quote::after{
  content: ' ”';
}
